# [vuln-lab] 환경변수 템플릿

# Flask 보안 키 (임의 설정)
SECRET_KEY=SECRET_KEY=vuln-lab-secret-key-2026

# LFI 실습 레벨 (1~3)
SECURITY_LEVEL=1

# MariaDB 접속 정보
DB_HOST=localhost
DB_PORT=4034
DB_NAME=myapp_db
DB_USER=root
DB_PASSWORD=your_mariadb_password_here  # 0000